body {
    margin: 15;
    background:url(bg.jpg) no-repeat;
    background-size: 100% 100%;
    text-align:center;
    font-family: 'Yeseva One', cursive;
}

.namafoto{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo{
    object-fit: cover;
    border-radius: 50%;
}